<mat-sidenav-container style="overflow: hidden; background-color: transparent;">
	<mat-sidenav #sidenav mode="over" style="background-color: pink;">
	<!-- Side Navigation Content -->
	</mat-sidenav>
	<mat-sidenav-content style="overflow: hidden">
		<!-- <div style="position: fixed; width: 100%; z-index: 999; box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.25)">
			<div style="height: 60px; padding-left:25px; padding-right: 25px; color: white; background-color:orange;" fxLayout="row" fxLayoutAlign="space-between center">
				<div [routerLink]="['/']">
					Logo
				</div>
				<div ngClass.gt-xs="navi" ngClass.lt-sm="navi-sm" fxLayout="row" fxLayoutAlign="center center">
          			<button [routerLink]="['/']" mat-icon-button matTooltip='Home'><mat-icon class="big-icon" [class.active]="currentUrl == '/'">home</mat-icon></button>
					<button [routerLink]="['/subs']" mat-icon-button matTooltip='Subscribers'><mat-icon class="big-icon" [class.active]="currentUrl == '/subs'">local_offer</mat-icon></button>
          
				</div>
			</div>
		</div>
		<div id="nav-spacer" style="width: 1px; height: 60px;">
		</div> -->
		
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
