<div id="timeholder" style="width: 100%; height: 80vh; padding-left: 20px;">
  <div *ngFor="let x of [1,2,0,3,4,0,5,6]" [class.now]="!timer" [class.soon]="soon" style="width: 124px; font-size: 300px; text-shadow: 2px 2px 2px rgba(0,0,0,0.25); display: inline-block;">
      <div class="timeslot" [id]="'slot' + x" *ngIf="x" style="width: 124px; height: 300px; overflow: hidden; scroll-behavior: smooth;">
        <span>0</span><br/>
        <span>9</span><br/>
        <span>8</span><br/>
        <span>7</span><br/>
        <span>6</span><br/>
        <span>5</span><br/>
        <span>4</span><br/>
        <span>3</span><br/>
        <span>2</span><br/>
        <span>1</span><br/>
        <span>0</span><br/>
      </div>
      <div class="timespacer" *ngIf="!x" style="width: 124px; height: 300px; overflow: hidden; text-align: center;">
        <span>:</span>
      </div>
  </div>
  
  <br/>
  
  <div id="glyph-house" style="width: 992px; height: 600px; position: absolute; left: 0; top: 0;">
  </div>

</div>