/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: FortFont;
    src: url(/assets/BurbankBigCondensed-Bold.otf);
}

html, body { height: 100%; }
body { margin: 0; font-family: FortFont, 'Roboto', sans-serif; }

.big-icon{
    font-size: 30px;
    width: 30px !important;
    height: 30px !important;
}

.big-icon.active{
    color: orangered;
}

@keyframes rainbow{
    0% { background-position: 0% 0% }
    100% { background-position: 200% 0% }
}

@keyframes stretchy{
    0% { opacity: 0; transform: scaleX(0); }
    25% { opacity: 1; } 
    100% { opacity: 1; transform: scaleX(1); }
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes disappear {
    0% { opacity: 1 }
    100% { opacity: 0 }
}


@keyframes circles{
    0% { opacity: 0; transform: perspective(100px) translateZ(-1000px); }
    10% { opacity: 1; }
    90% { opacity: 1;  }
    100% { opacity: 0; transform: perspective(100px) translateZ(-100px); }
}

@keyframes spook {
    0% { transform: scale(1) }
    50% { transform: scale(1.1) }
    100% { transform: scale(1) }
}

@keyframes pivot {
    0% { transform: rotate(0deg) }
    25% { transform: rotate(10deg ) }
    50% { transform: rotate(0deg) }
    75% { transform: rotate(-10deg) }
    100% { transform: rotate(0deg) }
}

@keyframes scroll-left {
    0%   { transform: translateX(0%); }
    50% { transform: translateX(-33%); }
    100%   { transform: translateX(0%); }
}

@keyframes slide-in {
    0% { transform: translateX(-150%); }
    100% { transform: translateX(0%); }
}

@keyframes grow {
    0% { height: 0 }
    100% { height: 80px }
}

@keyframes rain {
    0% { transform: translateY(-500%); opacity: 0; }
    10% { transform :translateY(-400%); opacity: 0.8; }
    90% { transform :translateY(400%); opacity: 0.8; }
    100% { transform :translateY(500%); opacity: 0; }
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }    
}

.circles{
    opacity: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    animation: circles 1.5s ease-out 0s 1 normal forwards;
    transform: perspective(100px) translateZ(-1000px);
}


.glyph{
    background-size: 100% 100%; 
    width: 30px; 
    height: 30px;
    transform: translateY(-500%); 
    opacity: 0;
    position: absolute;
    filter: hue-rotate(20deg) brightness(5) saturate(500%) drop-shadow(1px 1px 5px rgb(255, 0, 255));
    animation: rain 2s linear 1s 1 normal forwards;
}
